.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(78, 77, 82, 0.982);
  height: 60px;
  padding: 0 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-user {
  margin-left: 10px;
  margin-right: 10px;
}

.navbar-logout {
  margin-left: auto;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-container {
    flex-wrap: wrap;
  }


  .navbar-logout {
    margin-right: 0;
  }
}