.poll-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  width:400px;
  height: 200px;
  max-width: 400px;
  min-width: 300px;
  color: black;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.236);
  background-color: rgba(255, 255, 255, 0.1);
}


.poll-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.poll-title {
  margin: 0;
}

.poll-options {
  display: flex;
  flex-direction: column;
}

.poll-option {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}

.poll-option:hover {
  background-color: #f5f5f5;
}

.poll-option-text {
  margin-right: 10px;
}

.poll-option-votes {
  font-size: 0.8rem;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .poll-card {
    max-width: 100%;
  }
}
