.poll-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width:400px;
  max-width: 400px;
  min-width: 300px;
  color: black;
  background-color: rgba(255, 255, 255, 0.4);
}

.poll-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.poll-title {
  margin: 0;
}

.poll-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.poll-option {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.poll-option:hover {
  background-color: rgba(75, 45, 211, 0.1);
}

.poll-option-text {
  margin-right: 10px;
  color: black;
}

.poll-option-votes {
  font-size: 0.8rem;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .poll-card {
    max-width: 100%;
  }
}

.poll-option.selected {
  background-color: blue;
  color: white;
}

.poll-option.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

h6{
  margin-right: 50px;
}